body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.top-banner {
    text-align: center;
    background-image: url(images/IMAGE_1655552412.webp);
    background-repeat: no-repeat;
    padding: 100px 150px;
    margin-bottom: 100px;

}



h1 {
    font-size: 40px;
}

.header-color {
    line-height: normal;
    color: white;
}

.color-padding {
    color: white;
    padding-bottom: 10px;
}

.link-button{
    padding: 10px 25px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 10px;
    color: white;
}

.donate-today {
    text-align: center;
    display: block;
    padding: 50px 200px;
    display:flex;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 90%;
    height: 100%;
    
}

.get-updates {
    display: block;
    text-align: center;
    padding: 20%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.input-email {
    background-color: rgba(230, 170, 17, 0.176);
    padding: 60px;
}

input {
    width: 200px;
    height: 30px;
    background-color: rgba(204, 220, 255, 0.789);
    border: none;
    
}

button {
    height: 32px;
    width: 100px;
    background-color: tomato;
    color: white;
    border: none;
 
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.934);
    padding: 10px;
}

footer h2 {
    font-family: 'Satisfy', cursive;
    color: tomato;

}

footer small {
    color:white;
}


.donate-plan {
    display: block;
}

.food-shelter-education {
    display: flex;
    padding: 2% 5%;

}

#food {
    background-color: rgba(150, 150, 150, 0.107);
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#shelter {
    background-color: rgba(227, 72, 152, 0.097);
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#education {
    background-color: rgba(192, 192, 4, 0.147);
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

}