body {
    font-family: 'poppins', sans-serif;
    margin: 0;
}

.top-banner {
    text-align: center;
    background-image: url(images/IMAGE_1655552412.webp);
    background-repeat: no-repeat;
    padding: 150px;

}

h1 {
    font-size: 40px;
}

.header-color {
    line-height: normal;
    color: white;
}

.color-padding {
    color: white;
    padding-bottom: 10px;
}

.link-button{
    padding: 10px 25px;
    text-decoration: none;
    background-color: tomato;
    border-radius: 10px;
    color: white;
}

.donate-today {
    text-align: center;
    display: block;
    padding: 50px 200px;
    display:flex;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 90%;
    height: 100%;
    
}



